@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova-Semibold.otf);
  font-weight: 500;
}
@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova-Bold.otf);
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova-Extrabld.otf);
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Sans';
  src: url('fonts/proxima-sans-medium.eot');
  src:  local('Proxima Sans Medium'),
      url('fonts/proxima-sans-medium.woff') format('woff'), 
      url('fonts/proxima-sans-medium.ttf') format('truetype'), 
      url('fonts/proxima-sans-medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Sans';
  src: url('fonts/proximasansblack-webfont.eot');
  src:  local('ProximaSansBlack'),
      url('fonts/proximasansblack-webfont.woff') format('woff'), 
      url('fonts/proximasansblack-webfont.ttf') format('truetype'), 
      url('fonts/proximasansblack-webfont.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SofiaPro;
  src: url(fonts/SofiaProLight.otf);
  font-weight: 300;
}
@font-face {
  font-family: SofiaPro;
  src: url(fonts/SofiaProRegular.otf);
  font-weight: 400;
}
@font-face {
  font-family: SofiaPro;
  src: url(fonts/SofiaProMedium.otf);
  font-weight: 600;
}
@font-face {
  font-family: SofiaPro;
  src: url(fonts/SofiaProBlack.otf);
  font-weight: 700;
}
@font-face {
  font-family: 'BemboStd';
  src: url('fonts/BemboStd.eot');
  src:  local('Bembo Std'),
      url('fonts/BemboStd.woff') format('woff'), 
      url('fonts/BemboStd.ttf') format('truetype'), 
      url('fonts/BemboStd.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

