* { -webkit-hyphens: none; }
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
html {
	margin: 0 0;
}
body {
	font-family: $font-ProximaNova;
	font-weight: 400;
	color: $color-theme;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
	background: #FFF;
}
#page {
	position: relative;
	overflow: hidden;
}
.mid-content-wrap,
h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
.wrapper, .clear {clear: both;}
.wrapper:before, .wrapper:after, .clear:before,.clear:after {content: " "; display: table; }
.wrapper:after, .clear:after {clear: both;}
.wrapper, .clear {*zoom: 1;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0 20px;
	@media screen and (min-width: $tabwidth) {
		max-width: 100%;
		width: 100%;
		padding: 0 30px;
	}

	@media screen and (min-width: $deskwidth) {
		max-width: 1200px;
		width: 100%;
		padding: 0 0;
	}
}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-justify{text-align: justify;}
.full-wrapper {
	padding-left: 30px;
	padding-right: 30px;
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.full-content-area {
	width: 100%;
}
.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 80px;
	position: relative;
	z-index: 110;
	@media screen and (min-width: $tabwidth) {
		width: 25%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 100%;
	display: block;
	@media screen and (min-width: $tabwidth) {
		width: 150px;
	}
	img {
		width: 100%;
		height: auto;
	}
}
#primary {
	min-height: 15em;
}
.site-footer {
	width: 100%;
	clear: both;
}
.home #masthead {
	position: fixed;
	@media screen and (min-width: $tabwidth) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
	}
}
#masthead {
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: transparent;
	@include transition(all ease-out .3s);
	@media screen and (min-width: $tabwidth) {
		position: relative;
		background: transparent;
	}
	.wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
		@media screen and (min-width: $tabwidth) {
			max-width: 100%;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			padding: 20px 30px;
		}
	}
}
.subpage #masthead {
	background: #FFF;
}
body.home {
	#masthead {
		background: transparent;
	}
}
body.scrolled {
	&.home {
		#masthead {
			background: $color-dark-green;
			box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27);
			@media screen and (min-width: $tabwidth) {
				background: transparent;
				box-shadow: none;
			}
		}
	}
}

body.admin-bar {
	#masthead {
		top: 46px;
		@media screen and (min-width: $tabwidth) {
			top: 0;
		}
	}
}

.btn,input[type="submit"],button {
	display: inline-block;
	text-decoration: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: $color-theme;
	color: #FFF;
	font-weight: 500;
	font-size: 18px;
	padding:10px 20px;
	text-transform: uppercase;
	@include transition(all ease-out .3s);
	&:hover {
		color: #FFF;
		background-color: $color-dark-teal;
	}
}

.large-text {
	font-size:20px;
}

