*,div, h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
form * {
	box-sizing: border-box;
}
html {
	margin: 0 0;
}
a {
	@include transition (all ease-out .3s);
}
body {
	font-family: $font-ProximaNova;
	font-weight: 400;
	color: $color-theme;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
	background: #FFF;
}
.nopadding {
	padding: 0 0!important;
}
.nopadtop {
	padding-top: 0!important;
}
.nopadbottom {
	padding-bottom: 0!important;
}
#page {
	position: relative;
	overflow: hidden;	
}
.subpage #page {
	padding-top: 84px;
	@media screen and (min-width: $tabwidth) {
		padding-top: 0;
	}
}
.site-main {
	min-height: 20em;
}
p a {
	text-decoration: none;
	color: $color-dark-teal;
	@include transition (all ease-out .3s);
	&:hover {
		color: $color-gold;
	}
}
h1,h2,h3,h4,h5,h6 {font-weight:600}
.wrapper, .clear {clear: both;}
.wrapper:before, .wrapper:after, .clear:before,.clear:after {content: " "; display: table; }
.wrapper:after, .clear:after {clear: both;}
.wrapper, .clear {*zoom: 1;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0 20px;
	@media screen and (min-width: $tabwidth) {
		max-width: 100%;
		width: 100%;
		padding: 0 30px;
	}

	@media screen and (min-width: $deskwidth) {
		max-width: 1200px;
		width: 100%;
		padding: 0 0;
	}
}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-justify{text-align: justify;}
.full-wrapper {
	padding-left: 30px;
	padding-right: 30px;
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.full-content-area {
	width: 100%;
}

/* Logo */
.logo , h1.logo {
	width: 80px;
	position: relative;
	z-index: 110;
	@media screen and (min-width: $tabwidth) {
		width: 25%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 100%;
	display: block;
	@media screen and (min-width: $tabwidth) {
		width: 150px;
	}
	img {
		width: 100%;
		height: auto;
	}
}
#primary {
	min-height: 15em;
}
.site-footer {
	width: 100%;
	clear: both;
}
.home #masthead {
	position: fixed;
	@media screen and (min-width: $tabwidth) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
	}
}
#masthead {
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: transparent;
	@include transition(all ease-out .3s);
	@media screen and (min-width: $tabwidth) {
		position: relative;
		background: transparent;
	}
	.wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
		@media screen and (min-width: $tabwidth) {
			max-width: 100%;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			padding: 20px 30px 15px;
		}
	}
}
.subpage #masthead {
	background: #FFF;
}
body.home {
	#masthead {
		background: transparent;
	}
}
body.scrolled {
	&.home {
		#masthead {
			background: $color-dark-green;
			box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27);
			@media screen and (min-width: $tabwidth) {
				background: transparent;
				box-shadow: none;
			}
		}
	}
}

body.admin-bar {
	#masthead {
		top: 46px;
		@media screen and (min-width: $tabwidth) {
			top: 0;
		}
	}
}

.btn,input[type="submit"],button {
	display: inline-block;
	text-decoration: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: $color-theme;
	color: #FFF;
	font-weight: 500;
	font-size: 18px;
	padding:10px 20px;
	text-transform: uppercase;
	@include transition(all ease-out .3s);
	&:hover {
		color: #FFF;
		background-color: $color-dark-teal;
	}
}

.large-text {
	font-size:20px;
}

.footer-menu-wrap {
	position: relative;
	z-index: 10;
	margin-right: -20px;
	margin-left: -20px;
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		a {
			font-family: $font-SofiaPro;
			font:{
				size: 16px;
				weight: 600;
			};
			display: inline-block;
			color: #FFF;
			text-decoration: none;
			text-transform: uppercase;
			
			padding-top: 3px;
			padding-bottom: 3px;
			transition: all ease-out .2s;
			@media screen and (min-width: $tabwidth) {
				font-size: 13px;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 13px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 16px;
			}
			span {
				display: inline-block;
				cursor: pointer;
				transition: all ease-out .2s;
			}
			&:hover span {
				opacity: 0.5;
			}
		}
	}
	.menu {
		@media screen and (min-width: $tabwidth) {
			display: flex;
			justify-content: space-between;
			align-content: center;
			align-items: top;
		}
	}
	.menu > li {
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 18px;
		@media screen and (min-width: $tabwidth) {
			margin-top: 0;
		}
	}
	.menu > li:first-child {
		margin-top: 0;
	}
	.menu > li > a {
		display: block;
		position: relative;
		border-bottom: 2px solid #FFF;
		padding-bottom: 15px;
		padding-right: 15px;
		margin-bottom: 15px;
		@media screen and (min-width: $tabwidth) {
			padding-bottom: 10px;
		}
		&:after {
			content: "\f054";
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			right: 0;
			transition: all ease-out .3s;
			margin-right: 0;
		}
	}
	.menu > li:hover > a {
		&:after {
			margin-right: -5px;
		}
	}
	.menu ul li {
		margin-bottom: 2px;
	}
	.menu ul a {
		font-size: 14px;
		@media screen and (min-width: $tabwidth) {
			font-size: 12px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 14px;
		}
		&:hover {
			opacity: 0.5;		
		}
	}
}

.error-404 {
	.page-header {
		margin-top: 70px;
	}
	.page-title {
		margin-top: 0;
		margin-bottom: 0;
	}
	.page-content {
		margin-top: 0;
		p {
			margin-top: 0;
			margin-bottom: 1.5em;
		}
	}
}

.ml-loader-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
	z-index: 2000;
	.ml-loader {
		position: relative;
		width: 70px;
		height: 70px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.ml-loader {
	display: block;
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.ml-loader div {
  -webkit-transform-origin: 32px 32px;
      -ms-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
  -webkit-animation: 1.2s opaque ease-in-out infinite both;
          animation: 1.2s opaque ease-in-out infinite both;
}

.ml-loader div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 30px;
  width: 5px;
  height: 18px;
  border-radius: 10px;
  background-color: $color-theme;
}

.ml-loader div:nth-child(1) {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.ml-loader div:nth-child(2) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.ml-loader div:nth-child(3) {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.ml-loader div:nth-child(4) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.ml-loader div:nth-child(5) {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.ml-loader div:nth-child(6) {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.ml-loader div:nth-child(7) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.ml-loader div:nth-child(8) {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.ml-loader div:nth-child(9) {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.ml-loader div:nth-child(10) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.ml-loader div:nth-child(11) {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.ml-loader div:nth-child(12) {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.ml-loader div:nth-child(13) {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes opaque {
    0%, 40%, 100% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
}

@keyframes opaque {
    0%, 40%, 100% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
}

