.main-navigation {
	clear: both;	
	text-align: center;
	width: 100%;
	display: none;
	@media screen and (min-width: $tabwidth) {
		position: relative;
		display: block;
		clear: none;
		width: 80%;
		top: 16px;
		right: -10px;
		padding-left: 0;
	}
	@media screen and (min-width: $midwidth) {
		top: 0;
		padding-left: 0;
		right: -12px;
	}
	@media screen and (min-width: $deskwidth) {
		text-align: left;
		right: -20px;
	}
	ul {
		list-style: none;
		margin: 0 0;
		padding: 0 0;
	}
	.menu {
		display: block;
		@include transition(all ease 1s);
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			float: right;
			width: auto;
			text-align: right;
		}
		@media screen and (min-width: $midwidth) {
			text-align: center;
		}

	}

	li {
		hyphens: none;
		float: left;
		position: relative;
		&.menu-item-has-children {
			z-index: 5;
		}
	}
	.menu-main-menu-container {
		width: 100%;
		float: left;
	}
	.menu > li {
		display: inline-block;
		@media screen and (min-width: $tabwidth) {
			padding:0 10px;
			float: none;
		}
		@media screen and (min-width: $midwidth) {
			float: left;
			padding:0 10px;
		}
		@media screen and (min-width: $deskwidth) {
			padding:0 20px;
		}
	}
	.menu > li > a {
		padding:15px 0;
		position: relative;
		letter-spacing: 1px;
		@media screen and (min-width: $tabwidth) {
			margin-bottom: 2px;
			font-size: 12px;
			padding:10px 0 10px;
			font-weight: 400;
		}
		@media screen and (min-width: $midwidth) {
			margin-bottom: 5px;
			font-size: 14px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 16px;
		}
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background: #98b2bf;
			position: absolute;
			margin: 5px auto 0;
			transform: scaleX(0);
			visibility: hidden;
			transition: all ease-out 0.3s;
		}
	}
	li.current_page_parent > a,
	li.current_page_item > a,
	li.current_page_item:hover > a,
	.menu > li:hover > a {
		&:after {
			transform: scaleX(1);
			visibility: visible;
		}
	}

	a {
		display: block;
		text-decoration: none;
		font-family: $font-ProximaNova;
		font-weight: 500;
		text-transform: uppercase;
		color: #FFF;
		@include transition(all ease-out .3s);
	}

	.menu ul {
		margin: 0 0;
		padding: 0 0;
		@include transition(all ease-out .3s);
		@media screen and (min-width: $tabwidth) {
			display: block;
			width: 200px;
			position: absolute;
			right: 20px;
			background: rgba(152,178,191,.4);
			padding-top: 0;
			padding-bottom: 0;
			max-height: 0;
			overflow: hidden;
		}
		li {
			display: block;
			width: 100%;
			@media screen and (min-width: $tabwidth) {
				text-align: right;
				a {
					text-transform: none;
					padding:2px 20px;
					opacity: 0.5;
					&:hover {
						opacity: 1;
					}
				}
			}
			&.current-menu-item > a {
				@media screen and (min-width: $tabwidth) {
					opacity: 1;
				}
			}
		}
	}
	.menu > li:hover > ul {
		max-height: 1000px;
		overflow: visible;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}
.subpage .main-navigation {
	@media screen and (min-width: $tabwidth) {
		.menu > li > a {
			color: $color-theme;
		}
		.menu > li > a:after {
			background: $color-gold;
		}
		.menu ul {
			background: $color-dark-teal;
		}
	}
}

/* Small menu. */
button.menu-toggle {
	border: 0px;
	box-sizing: none;
	border-radius: 0;
	-webkit-appearance: none;
	background: transparent;
	box-shadow: none;
	display: block;
	width: 35px;
	height: 25px;
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
	right: 20px;
	padding: 0 0;
	z-index: 10000;
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
	span,
	span:before,
	span:after {
		position: absolute;
		top: 10px;
		left: 0;
		display: block;
		width: 100%;
		height: 3px;
		background: #FFF;
	    transition-property: background-color, transform, -webkit-transform;
	    transition-duration: 0.3s;
	}
	span {
		&:before,
		&:after {
			content: "";
			display: block;
		} 
		&:before {
			top: -10px;
		}
		&:after {
			top: 10px;
		}
	}
	&:hover {
		background: transparent;
	}
}
button.menu-toggle.open {
	span {
		background: transparent;
		&:before {
			transform: translateY(10px) rotate(45deg);
		}
		&:after {
			transform: translateY(-10px) rotate(-45deg);
		}
	}
}
.subpage {
	button.menu-toggle span, 
	button.menu-toggle span:before, 
	button.menu-toggle span:after {
		background: $color-theme;
	}
	button.menu-toggle.open {
		span {
			background: transparent;
		}
	}
}
.scrolled #masthead {
	box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.24);
}
#site-mobile-navigation {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 102;
	background: $color-dark-green;
	transform: translateX(100%);
    transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
	.menu {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.menu,
	.menu ul li,
	.menu > li,
	.menu ul {
		display: block;
		width: 100%;
		float: left;
	}
	.menu a {
		display: inline-block;
		font-weight: 400;
	}
	.menu > li > a {
		font-size: 20px;
	}
	.menu ul a {
		padding-top: 7px;
		padding-bottom: 7px;
		font-size: 16px;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
	.menu > li > ul {
		padding-top: 5px;
		padding-bottom: 10px;
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
#wpadminbar {
	margin-top: 0;
}
body.open-menu {
	#site-mobile-navigation {
		transform: translateX(0px);
	}
}
